<div class="container-fluid">
  <form #userForm='ngForm' (ngSubmit)='onSubmit()' enctype="multipart/form-data">
  <div class="row">
      <div class="col-md-12 mx-auto">
        <h3 style="text-align: center;">Address Details</h3>
        <div class="form-group row">

          <div class="col-sm-4">
            <label for="sel1">Select State:</label>
            <select class="form-control" id="sel1" (change)="onstateChange()" [(ngModel)]='sellModel.state' name='state'>
              <option *ngFor='let i of statelist'> {{ i }} </option>
            </select>
          </div>

          <div class="col-sm-4">
            <label for="selectpostcode">Select Suburb:</label>
            <select class="form-control" id="selectpostcode" [(ngModel)]='sellModel.suburb' name="suburb" required>
                 <option *ngFor='let i of countrydetaillsapi'>{{ i.suburb }}</option>
             </select>
          </div>

          <div class="col-sm-4">
            <label for="selectpostcode">Select Suburb:</label>
            <select class="form-control" id="selectpostcode" [(ngModel)]='sellModel.postcode' name="postcode" required>
                 <option *ngFor='let i of countrydetaillsapi'>{{ i.postcode }}</option>
             </select>
          </div>

        </div>
      </div>
  </div>
<!-- end row -->
<!-- start row -->
  <div class="form-group row">

    <div class="col-sm-3">
      <div class="form-group">
        <label for="usr">Unit:</label>
        <input type="text" class="form-control" id="usr" [(ngModel)]='sellModel.unit' name="unit" >
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="usr">Street Number:</label>
        <input type="text" class="form-control" id="usr" [(ngModel)]='sellModel.street_number' name="street_number" >
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="usr">Street Name:</label>
        <input type="text" class="form-control" [(ngModel)]='sellModel.street_name' name="street_name" >
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="usr">Land Size:</label>
        <input type="text" class="form-control" [(ngModel)]='sellModel.land_size' name="land_size" >
      </div>
    </div>

</div>
<!-- end row -->

<!-- start row -->
<div class="form-group row">

  <div class="col-sm-3">
    <div class="form-group">
      <label for="usr">Price:</label>
      <input type="text" class="form-control" [(ngModel)]='sellModel.Price' name="Price" >
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label for="usr">Property Type:</label>
      <select class="form-control"  [(ngModel)]='sellModel.Property_type' name="Property_type" >
        <option> House </option>
        <option> Apartment & Unit </option>
        <option> Townhouse </option>
        <option> Villa </option>
        <option> Land </option>
        <option> Acreage </option>
        <option> Rural </option>
        <option> Block Of Units </option>
        <option> Retirement Living </option>

    </select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label for="usr">Bedrooms:</label>
      <input type="text" class="form-control" [(ngModel)]='sellModel.Bedrooms' name="Bedrooms">
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-group">
      <label for="usr">Bathrooms:</label>
      <input type="text" class="form-control" [(ngModel)]='sellModel.Bathrooms' name="Bathrooms">
    </div>
  </div>

</div>
<!-- end row -->

<!-- start row -->
<div class="form-group row">

  <div class="col-sm-3">
    <div class="form-group">
      <label for="usr">Car Spaces:</label>
      <input type="text" class="form-control" [(ngModel)]='sellModel.Car_spaces' name="Car_spaces" >
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label for="usr">New Or Established:</label>
      <select class="form-control"  [(ngModel)]='sellModel.new_or_established' name="new_or_established" >
        <option> New </option>
        <option> Established </option>
    </select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label for="usr">Image:</label>
      <input type="file" (change)='onFileSelected($event, "image")' class="form-control" name="image">
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label for="usr">Plan:</label>
      <input type="file" (change)='onFileSelected($event, "plan")' class="form-control" name="plan">
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-group">
      <label for="comment">Description:</label>
      <textarea class="form-control" rows="5" [(ngModel)]='sellModel.description' name="description"></textarea>
    </div>
  </div>

</div>
<!-- end row -->

<h4 style="text-align: center;">Additional Images(Optional) </h4>

<div class="form-group row">
  <div class="col-sm-3">
    <input type="file" class="form-control" id="usr" (change)='onFileSelected($event, "image1")' name='image1'>
  </div>
  <div class="col-sm-3">
    <input type="file" class="form-control" id="usr" (change)='onFileSelected($event, "image2")' name='image2'>
  </div>
  <div class="col-sm-3">
    <input type="file" class="form-control" id="usr" (change)='onFileSelected($event, "image3")'>
  </div>
  <div class="col-sm-3">
    <input type="file" class="form-control" id="usr" (change)='onFileSelected($event, "image4")'>
  </div>
</div>


<div class="form-group row">
  <div class="col-sm-3">
    <input type="file" class="form-control" id="usr" (change)='onFileSelected($event, "image5")'>
  </div>
  <div class="col-sm-3">
    <input type="file" class="form-control" id="usr" (change)='onFileSelected($event, "image6")'>
  </div>
  <div class="col-sm-3">
    <input type="file" class="form-control" id="usr" (change)='onFileSelected($event, "image7")'>
  </div>
  <div class="col-sm-3">
    <input type="file" class="form-control" id="usr" (change)='onFileSelected($event, "image8")'>
  </div>
</div>


<div class="form-group row">
  <div class="col-sm-3">
    <input type="file" class="form-control" id="usr" (change)='onFileSelected($event, "image9")'>
  </div>
  <div class="col-sm-3">
    <input type="file" class="form-control" id="usr" (change)='onFileSelected($event, "image10")'>
  </div>
  <div class="col-sm-3">
    <input type="file" class="form-control" id="usr" (change)='onFileSelected($event, "image11")'>
  </div>
  <div class="col-sm-3">
    <input type="file" class="form-control" id="usr" (change)='onFileSelected($event, "image12")'>
  </div>
</div>


<div class="form-group row">
  <div class="col-sm-3">
    <input type="file" class="form-control" id="usr" (change)='onFileSelected($event, "image13")'>
  </div>
  <div class="col-sm-3">
    <input type="file" class="form-control" id="usr" (change)='onFileSelected($event, "image14")'>
  </div>
  <div class="col-sm-3">
    <input type="file" class="form-control" id="usr" (change)='onFileSelected($event, "image15")'>
  </div>
  <div class="col-sm-3">
    <input type="file" class="form-control" id="usr" (change)='onFileSelected($event, "image16")'>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-3">
    <input type="file" class="form-control" id="usr" (change)='onFileSelected($event, "image17")'>
  </div>
  <div class="col-sm-3">
    <input type="file" class="form-control" id="usr" (change)='onFileSelected($event, "image18")'>
  </div>

</div>

<hr>
                <h4 style="text-align: center;"> Additional Informations </h4>

<div class="form-group row">
<div class="col-sm-2">
<div class="form-group">
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="" [(ngModel)]='sellModel.Swimming_pool' name='Swimming_pool'>Swimmimg Pool
  </label>
</div>
</div>
</div>

<div class="col-sm-2">
<div class="form-group">
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="" [(ngModel)]='sellModel.Garage' name='Garage'>Garage
  </label>
</div>
</div>
</div>

<div class="col-sm-2">
<div class="form-group">
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="" [(ngModel)]='sellModel.Balcony' name='Balcony'>Balcony
  </label>
</div>
</div>
</div>

<div class="col-sm-2">
<div class="form-group">
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="" [(ngModel)]='sellModel.Outdoor_area' name='Outdoor_area'>Outdoor Area
  </label>
</div>
</div>
</div>

<div class="col-sm-2">
<div class="form-group">
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="" [(ngModel)]='sellModel.Undercover_parking' name='Undercover_parking'>Undercover Parking
  </label>
</div>
</div>
</div>
<div class="col-sm-2">
  <div class="form-group">
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" value="" [(ngModel)]='sellModel.Shed' name='Shed'> Shed
    </label>
  </div>
  </div>
  </div>

</div>
<div class="form-group row">
<div class="col-sm-2">
<div class="form-group">
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="" [(ngModel)]='sellModel.Outdoor_spa' name='Outdoor_spa'>Outdoor Spa
  </label>
</div>
</div>
</div>

<div class="col-sm-2">
<div class="form-group">
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="" [(ngModel)]='sellModel.Tennis_court' name='Tennis_court'>Tennis Court
  </label>
</div>
</div>
</div>

<div class="col-sm-2">
<div class="form-group">
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="" [(ngModel)]='sellModel.Ensuite' name='Ensuite'>Ensuite
  </label>
</div>
</div>
</div>

<div class="col-sm-2">
<div class="form-group">
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="" [(ngModel)]='sellModel.DishWasher' name='DishWasher'>DishWasher
  </label>
</div>
</div>
</div>

<div class="col-sm-2">
<div class="form-group">
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="" [(ngModel)]='sellModel.Study' name='Study'>Study
  </label>
</div>
</div>
</div>

<div class="col-sm-2">
  <div class="form-group">
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" value="" [(ngModel)]='sellModel.Built_in_robes' name='Built_in_robes'>Built in robes
    </label>
  </div>
  </div>
  </div>
</div>

<div class="form-group row">
<div class="col-sm-2">
<div class="form-group">
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="" [(ngModel)]='sellModel.Broadband' name='Broadband'>Broadband
  </label>
</div>
</div>
</div>

<div class="col-sm-2">
<div class="form-group">
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="" [(ngModel)]='sellModel.Floorboards' name='Floorboards'>Floorboards
  </label>
</div>
</div>
</div>

<div class="col-sm-2">
<div class="form-group">
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="" [(ngModel)]='sellModel.Gym' name='Gym'>Gym
  </label>
</div>
</div>
</div>

<div class="col-sm-2">
<div class="form-group">
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value=""  [(ngModel)]='sellModel.Rumpus_room' name='Rumpus_room'>Rumpus Room
  </label>
</div>
</div>
</div>

<div class="col-sm-2">
<div class="form-group">
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value=""  [(ngModel)]='sellModel.Workshop' name='Workshop'>Workshop
  </label>
</div>
</div>
</div>

<div class="col-sm-2">
<div class="form-group">
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value=""  [(ngModel)]='sellModel.Air_conditioning' name='Air_conditioning'>Air Conditioning
  </label>
</div>
</div>
</div>
</div>


<div class="form-group row">
  <div class="col-sm-2">
  <div class="form-group">
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" value=""  [(ngModel)]='sellModel.Solar_panels' name='Solar_panels'>Solar Panels
    </label>
  </div>
  </div>
  </div>

  <div class="col-sm-2">
  <div class="form-group">
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" value=""  [(ngModel)]='sellModel.Heating' name='Heating'>Heating
    </label>
  </div>
  </div>
  </div>

  <div class="col-sm-2">
  <div class="form-group">
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" value=""  [(ngModel)]='sellModel.High_energy_efficiency' name='High_energy_efficiency'>High Energy Efficiency
    </label>
  </div>
  </div>
  </div>
  <div class="col-sm-2">
  <div class="form-group">
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" value=""  [(ngModel)]='sellModel.Water_tank' name='Water_tank'>Water Tank
    </label>
  </div>
  </div>
  </div>

  <div class="col-sm-2">
  <div class="form-group">
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" value=""  [(ngModel)]='sellModel.Solar_hot_water' name='Solar_hot_water'> Solar Hot Water
    </label>
  </div>
  </div>
  </div>

  <div class="col-sm-2">
    <div class="form-group">
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="" [(ngModel)]='sellModel.Fully_fenced' name='Fully_fenced'>Fully Fenced
      </label>
    </div>
    </div>
    </div>

  </div>

  <div class="form-group row">
    <div class="col-sm-2">
      <div class="form-group">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="" [(ngModel)]='sellModel.Alarm_system' name='Alarm_system'>Alarm System
        </label>
      </div>
      </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-6"></div>
    <button type="Submit" class="btn btn-primary btn-block">Submit</button>
  </div>


<hr>
</form>
<div>
