<style>
  #more {display: none;}
  .containershow {
  font-size: 16px;
  line-height: 16px;
  height: 94px;
  overflow: hidden;
}

 .show {
  overflow: visible;
  height: auto;
}
#map {
    height: 100%;
    width: 100%;
   }
  </style>
<div class='container'>
<div class="row">
  <div class='col-md-8'>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style='border-top: 1px solid lightgray; border-bottom: 1px solid lightgray; '>
<div id="navbarNavDropdown" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#"><i class='fa fa-list-alt'></i> List <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)='mapSearch()'><i class='fa fa-globe'></i> Map</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal"><i class='fa fa-save'></i><span id='savesearchid'>Save Search</span></a>
        </li>


    </ul>
    <ul class="navbar-nav" style="margin-top: 24px">

        <li class="nav-item">
            <div class="form-group">
            <label class="d-inline-block" for="">Sort By:</label>
            <select class="form-control form-control-sm d-inline-block" style="width: auto;" id="sortby" name='sortby' onchange="this.form.submit()">
            <option value="Relevant">Most Relevant</option>
            <option value="-created">Date (Newest - Oldest)</option>
            <option value="created">Date (Oldest - Newest)</option>
            <option value="Price">Price (Lowest - Highest)</option>
            <option value="-Price">Price (Highest - Lowest)</option>
            </select>
            </div>
        </li>

    </ul>
</div>
</nav>

<div class='row'>
<div class='col-md-12'>
<div id="searchitem"></div>
</div>
</div>


<!-- The Modal -->
<div class="modal fade" id="myModal">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
  <h4 class="modal-title">Save Search</h4>
  <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
    <div class="form-group">
    <label for="usr">Name the search:</label>
    <input type="text" class="form-control" id="namesave">
    </div>


<div class="form-check">
<label class="form-check-label">
<input type="checkbox" class="form-check-input" id='checkboxsave' value=""> Enable Notifications
</label>
</div>

</div>

<!-- Modal footer -->
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>

</div>

</div>
</div>
</div>




<hr>

<hr>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<div class="card" style='margin-bottom:20px;' *ngFor='let i of filterdetails1 | paginate: { itemsPerPage: 30, currentPage: p }'>
<div class="card-body">
    <h4 class="card-title"> <p>{{i.street_number}}, {{i.street_name}} {{i.state}} {{i.suburb}}, {{i.postcode}}</p></h4>
    <p class="card-text">

    <div class='row'>
    <div class='col-md-4'>
      <a href=''>   <img class='img-fluid' src='{{i.image}}'> </a>

    </div>
    <div class='col-md-8'>

    <div class='row'>
   <div class='col-md-12' style='background-color:darkred; color: white; padding: 8px 8px;'>
        <i class='fa fa-bed' style='color:white'></i> {{i.Bedrooms}}
        <i class='fa fa-bath' style='color:white'></i> {{i.Bathrooms}}
        <i class='fa fa-car' style='color:white'></i>  {{i.Car_spaces}}
        <i class='fa fa-star' id='star' style='color:white; float:right; cursor:pointer'></i>



    </div>
    </div>
    <hr>

    {{i.created | date}}  <br>
    {{i.new_or_established}}<br>
    {{i.Swimming_pool}}
    <br>
    {{i.Property_type}} | ${{i.Price}}  |  <a [routerLink]="['/detail', i.id_user]">See more</a>  <br>

      <br>
    </div>

    </div>
    <!--row-->
    <hr>

</div>
</div>
<!--end card-->



</div>
<!--end col-md-8-->
<!-- start col-md-4 -->
<div class='col-md-4'>
  <form action="" method="post" #searchForm='ngForm' (ngSubmit)='submitForm()' >
<div class="form-group row">

<div class='col-md-12'>
<input type="text" name="filterlist" id="filterlist" class="form-control" (focus)="showDiv()" name='search' [(ngModel)]='filterModel.name' (keyup) = 'filterCountryDetails()'>
</div>
<div class="col-md-12">
    <div style="height: 300px; overflow-y: auto; overflow-x: hidden;" *ngIf='dis'>
        <ul class="list-group">
          <li class="list-group-item" *ngFor='let i of testlist' (click)='getDetails(i)'>{{i.suburb}} - {{i.state}}</li>
        </ul>
   </div>
</div>

<!-- start pricemin -->
<div class="col-sm-6">
  <label for="pricemin"><small>Price (Min):</small></label>
      <select class="custom-select custom-select-sm" name="pricemin" [(ngModel)]='filterModel.pricemin'(change)='pricemin()'>
      <option>Any </option>
      <option>$50,000 </option>
      <option>$75,000</option>
      <option>$100,000</option>
      <option>$125,000</option>
      <option>$150,000</option>
      <option>$175,000</option>
      <option>$200,000</option>
      <option>$225,000</option>
      <option>$250,000</option>
      <option>$275,000</option>
      <option>$300,000</option>
      <option>$325,000</option>
      <option>$350,000</option>
      <option>$350,000</option>
      <option>$350,000</option>
      <option>$375,000</option>
      <option>$400,000</option>
      <option>$425,000</option>
      <option>$450,000</option>
      <option>$475,000</option>
      <option>$500,000</option>
      <option>$550,000</option>
      <option>$600,000</option>
      <option>$650,000</option>
      <option>$700,000</option>
      <option>$750,000</option>
      <option>$800,000</option>
      <option>$850,000</option>
      <option>$900,000</option>
      <option>$950,000</option>
      <option>$1,000,000</option>
      <option>$1,100,000</option>
      <option>$1,200,000</option>
      <option>$1,300,000</option>
      <option>$1,400,000</option>
      <option>$1,500,000</option>
      <option>$1,600,000</option>
      <option>$1,700,000</option>
      <option>$1,800,000</option>
      <option>$1,900,000</option>
      <option>$2,000,000</option>
      <option>$2,250,000</option>
      <option>$2,500,000</option>
      <option>$2,750,000</option>
      <option>$3,000,000</option>
      <option>$3,500,000</option>
      <option>$4,000,000</option>
      <option>$4,500,000</option>
      <option>$5,000,000 </option>
      <option>$7,000,000</option>
      <option>$8,000,000</option>
      <option>$9,000,000</option>
      <option>$10,000,000</option>
      <option>$12,000,000</option>
      <option>$15,000,000</option>
      </select>
  </div>
<!-- end pricemin -->

<!-- start pricemax -->
<div class="col-sm-6">
  <label for="pricemax"><small>Price (Max):</small></label>
  <select class="custom-select custom-select-sm" id="pricemax" name="pricemax" [(ngModel)]='filterModel.pricemax'(change)='pricemax()'>
  <option>Any </option>
  <option>$50,000 </option>
  <option>$75,000</option>
  <option>$100,000</option>
  <option>$125,000</option>
  <option>$150,000</option>
  <option>$175,000</option>
  <option>$200,000</option>
  <option>$225,000</option>
  <option>$250,000</option>
  <option>$275,000</option>
  <option>$300,000</option>
  <option>$325,000</option>
  <option>$350,000</option>
  <option>$350,000</option>
  <option>$350,000</option>
  <option>$375,000</option>
  <option>$400,000</option>
  <option>$425,000</option>
  <option>$450,000</option>
  <option>$475,000</option>
  <option>$500,000</option>
  <option>$550,000</option>
  <option>$600,000</option>
  <option>$650,000</option>
  <option>$700,000</option>
  <option>$750,000</option>
  <option>$800,000</option>
  <option>$850,000</option>
  <option>$900,000</option>
  <option>$950,000</option>
  <option>$1,000,000</option>
  <option>$1,100,000</option>
  <option>$1,200,000</option>
  <option>$1,300,000</option>
  <option>$1,400,000</option>
  <option>$1,500,000</option>
  <option>$1,600,000</option>
  <option>$1,700,000</option>
  <option>$1,800,000</option>
  <option>$1,900,000</option>
  <option>$2,000,000</option>
  <option>$2,250,000</option>
  <option>$2,500,000</option>
  <option>$2,750,000</option>
  <option>$3,000,000</option>
  <option>$3,500,000</option>
  <option>$4,000,000</option>
  <option>$4,500,000</option>
  <option>$5,000,000 </option>
  <option>$7,000,000</option>
  <option>$8,000,000</option>
  <option>$9,000,000</option>
  <option>$10,000,000</option>
  <option>$12,000,000</option>
  <option>$15,000,000</option>
  </select>
  </div>
  <!--end pricemax-->
  <!-- stare bedmin -->
  <div class='col-md-6'>
    <label for="bedmin"> <small>Bed (Min):</small></label>
    <select class="custom-select custom-select-sm" name="bedmin" [(ngModel)]='filterModel.bedmin'(change)='bedmin()' >
    <option>Any</option>
    <option>Studio</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    </select>
  </div>
<!-- end bedmin -->
<!-- startbedmax -->
   <div class='col-md-6'>
    <label for="bedmax"> <small>Bed (Max):</small></label>
    <select class="custom-select custom-select-sm" name="bedmax" [(ngModel)]='filterModel.bedmax' (change)='bedmax()'>
    <option value='Any' selected>Any</option>
    <option value='Studio'>Studio</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    </select>
    </div>
  <!-- endbedmax -->
  <!-- start propertytype -->
  <div class="col-md-12">
    <br>
    <ng-multiselect-dropdown
    name="propertytype"
    [placeholder]="'Property Type'"
    [data]="dropdownList"
    [(ngModel)]="selectedItems"
    [settings]="dropdownSettings"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)">
  </ng-multiselect-dropdown>
  </div>
  <!-- end propertytype -->
  <!-- startbathrooms -->
  <div class='col-md-6'>
    <label for=""> <small>Bathrooms:</small></label>
    <select class="custom-select custom-select-sm" id="" name="Bathrooms" (change)='bathrooms()' [(ngModel)]='filterModel.Bathrooms' >
    <option>Any</option>
    <option>Studio</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    </select>
    </div>
  <!-- end bathrooms -->
  <!-- start car spaces -->
  <div class='col-md-6'>
    <label for=""> <small>Car Spaces:</small></label>
    <select class="custom-select custom-select-sm" id="" name="Car_spaces" (change)='carSpaces()' [(ngModel)]='filterModel.Car_spaces' >
    <option>Any</option>
    <option>Studio</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    </select>
    </div>
    <!-- //end car spaces -->
    <!-- start min land size -->
    <div class='col-md-6'>
    <label for=""> <small>Min land size (m2):</small></label>
    <select class="custom-select custom-select-sm" name="land_size" (change)='landsize()' [(ngModel)]='filterModel.land_size'>
    <option>Any</option>
    <option>Studio</option>
    <option value="100">100</option>
    <option value="200">200</option>
    <option value="300">300</option>
    <option value="400">400</option>
    <option value="500">500</option>
    </select>
    </div>
<!-- end start min land size -->
<!-- start new or established -->
    <div class='col-md-6'>
    <label for=""> <small>New or established:</small></label>
    <select class="custom-select custom-select-sm" name="new_or_established" (change)='new_or_established()'  [(ngModel)]='filterModel.new_or_established'>
    <option value='Any'>Any</option>
    <option value='New'>New</option>
    <option value="Established">Established</option>
    </select>
    </div>
    <!-- end new or established -->
</div>
<div class='col-md-12'><br>
  <b style="text-align: center;">Outdoor Features</b>
  <hr>
  </div>
  <div class="form-check-inline">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name='Swimming_pool' (click)='changeFilter("Swimming_pool")' [(ngModel)]='filterModel.Swimming_pool'> Swimming pool
    </label>
  </div>
  <div class="form-check-inline">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input"  name='Balcony' (click)='changeFilter("Balcony")' [(ngModel)]='filterModel.Balcony'> Balcony
    </label>
  </div>
  <hr>
<div class="form-check-inline">
    <label class="form-check-label" for="check1">
      <input type="checkbox" class="form-check-input" name='Garage' (click)='changeFilter("Garage")' [(ngModel)]='filterModel.Garage'> Garage
    </label>
  </div>
  <div class="form-check-inline">
    <label class="form-check-label" for="check2">
      <input type="checkbox" class="form-check-input" id="check2" name='Outdoor_area' (click)='changeFilter("Outdoor_area")' [(ngModel)]='filterModel.Outdoor_area'> Outdoor area
    </label>
  </div>

  <hr>
  <div class="form-check-inline">
    <label class="form-check-label" for="check1">
      <input type="checkbox" class="form-check-input" id="check1"  name="Fully_fenced" (click)='changeFilter("Fully_fenced")' [(ngModel)]='filterModel.Fully_fenced'> Fully fenced
    </label>
  </div>
  <div class="form-check-inline">
    <label class="form-check-label" for="check2">
      <input type="checkbox" class="form-check-input" id="check2" name="Shed" (click)='changeFilter("Shed")' [(ngModel)]='filterModel.Shed'> Shed
    </label>
  </div>
  <hr>
  <div class="form-check-inline">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name='Outdoor_spa' (click)='changeFilter("Outdoor_spa")' [(ngModel)]='filterModel.Outdoor_spa'> Outdoor spa
    </label>
  </div>
<div class="form-check-inline">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name='Tennis_court' (click)='changeFilter("Tennis_court")' [(ngModel)]='filterModel.Tennis_court'> Tennis court
    </label>
  </div>
  <hr>
  <div class="form-check-inline">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name='Undercover_parking' (click)='changeFilter("Undercover_parking")' [(ngModel)]='filterModel.Undercover_parking'> Undercover parking
    </label>
  </div>
  <div class='col-md-12'><br>
    <b style="text-align: center;">Indoor Features</b>
    <hr>
    </div>
    <div class="form-check-inline">
      <label class="form-check-label" for="check1">
      <input type="checkbox" class="form-check-input" name="Ensuite" (click)='changeFilter("Ensuite")' [(ngModel)]='filterModel.Ensuite' > Ensuite
      </label>
      </div>
      <div class="form-check-inline">
      <label class="form-check-label" for="check2">
      <input type="checkbox" class="form-check-input"  name="DishWasher" (click)='changeFilter("DishWasher")' [(ngModel)]='filterModel.DishWasher'> Dishwasher
      </label>
      </div>
      <hr>
      <div class="form-check-inline">
      <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name='Built_in_robes' (click)='changeFilter("Built_in_robes")' [(ngModel)]='filterModel.Built_in_robes'> Built in robes
      </label>
      </div>
      <div class="form-check-inline">
      <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name='Study' (click)='changeFilter("Study")' [(ngModel)]='filterModel.Study'> Study
      </label>
      </div>
      <hr>
      <div class="form-check-inline">
      <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name='Alarm_system' (click)='changeFilter("Alarm_system")' [(ngModel)]='filterModel.Alarm_system'> Alarm system
      </label>
      </div>
      <div class="form-check-inline">
      <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name='Broadband' (click)='changeFilter("Broadband")' [(ngModel)]='filterModel.Broadband'> Broadband
      </label>
      </div>
      <hr>
      <div class="form-check-inline">
      <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name='Floorboards' (click)='changeFilter("Floorboards")' [(ngModel)]='filterModel.Floorboards'> Floorboards
      </label>
      </div>
      <div class="form-check-inline">
      <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name='Gym' (click)='changeFilter("Gym")' [(ngModel)]='filterModel.Gym'> Gym
      </label>
      </div>
      <hr>
      <div class="form-check-inline">
      <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name='Rumpus_room' (click)='changeFilter("Rumpus_room")' [(ngModel)]='filterModel.Rumpus_room'> Rumpus room
      </label>
      </div>
      <div class="form-check-inline">
      <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name='Workshop' (click)='changeFilter("Workshop")' [(ngModel)]='filterModel.Workshop'> Workshop
      </label>
      </div>
      <hr>
      <div class='col-md-12'><br>
      <b style="text-align: center;">Climate control & energy</b>
      <hr>
      </div>


      <div class="form-check-inline">
      <label class="form-check-label" for="check1">
      <input type="checkbox" class="form-check-input" name="Air_conditioning" (click)='changeFilter("Air_conditioning")' [(ngModel)]='filterModel.Air_conditioning' > Air conditioning
      </label>
      </div>
      <div class="form-check-inline">
      <label class="form-check-label" for="check2">
      <input type="checkbox" class="form-check-input"  name="Solar_panels" (click)='changeFilter("Solar_panels")' [(ngModel)]='filterModel.Solar_panels'> Solar panels
      </label>
      </div>
      <hr>
      <div class="form-check-inline">
      <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name='Heating' (click)='changeFilter("Heating")' [(ngModel)]='filterModel.Heating'> Heating
      </label>
      </div>

      <div class="form-check-inline">
      <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name='Water_tank' (click)='changeFilter("Water_tank")' [(ngModel)]='filterModel.Water_tank'> Water tank
      </label>
      </div>
      <hr>
      <div class="form-check-inline">
      <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name='Solar_hot_water' (click)='changeFilter("Solar_hot_water")' [(ngModel)]='filterModel.Solar_hot_water'> Solar hot water
      </label>
      </div>
      <div class="form-check-inline">
      <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name='High_energy_efficiency' (click)='changeFilter("High_energy_efficiency")' [(ngModel)]='filterModel.High_energy_efficiency'> High energy efficiency
      </label>
      </div>
      <hr>
<input type='submit' class='btn btn-primary btn-block' value='submit'>
  </form>
<!-- end form group row -->
</div>
<!-- end col-md-4 -->

</div>
<!-- // end row -->
</div>
<!-- end container -->
